html {
  font-size: 10px;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../assets/images/drum\ kit-1.jpg") bottom center;
  background-size: cover;
}


.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}


.pagination {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);  
}

.pagination a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: rgba(0, 0, 0, 0.1) 3px solid;

  border-radius: 50%;
  font-size: 2.5rem;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pagination a.active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

.pagination a:hover:not(.active) {
  background-color: #000;
}